################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoostlingoApp/.vs
/BoostlingoApp/bin/Debug/net8.0
/BoostlingoApp/obj
/BoostlingoApp.UnitTests/bin/Debug/net8.0
/BoostlingoApp.UnitTests/obj
